<div class="d-flex justify-content-center mt-5">
    <form>
        <div class="mb-3">
          <label for="username-input-login" class="form-label">Username</label>
          <input type="text" class="form-control" id="username-input-login">
        </div>
        <div class="mb-3">
          <label for="password-input-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-input-login">
        </div>
        <button type="submit" id="login-form" class="btn btn-primary">Submit</button>
    </form>
</div>