<form class="create-gif">
    <input type="file">
    <input type="text" name="name" id="textName">
    <button type="submit"> Insert Text to Gif and Download </button>
</form>

<button class="download">Download</button>

<script src="/js/createGif.js"></script>