<div class="container-fluid">
    {{#if loggedIn}}
    <div class="d-flex  flex-row justify-content-right">
     <button class="btn btn-outline-secondary mt-3" id="logout-link">logout</button>
     
    </div>
    <div class="d-flex flex-row-reverse ">
        <p class="text-justify font-weight-normal ">Hi, {{username}}</p>
    </div>
    
    {{/if}}
    <div class="d-flex justify-content-center my-5"><a href="/gifs"><img src="/images/Logo.png" width="auto" height="200" id="logo"></a></div>
    <div>``</div>
    <div class="d-flex justify-content-center m-1">
        {{#unless  loggedIn}}
        <!-- Login Button - Autofocussed -->
        <input type="radio" class="btn-check" name="options" id="login-btn" autocomplete="off">
        <label class="btn btn-outline-secondary" for="login-btn">Login</label>
        <!-- SignUp Button - Prompts Redirect -->
        <input type="radio" class="btn-check" name="options" id="signup-btn" autocomplete="off">
        <label class="btn btn-outline-secondary" for="signup-btn">Sign Up</label>
        {{/unless}}
    </div>
      {{#if loggedIn}}
    <div class="d-flex justify-content-center m-1">
        <!-- Upload Button - Prompts Redirect -->
        <input type="radio" class="btn-check" name="options" id="upload-btn" autocomplete="off">
        <label class="btn btn-outline-info" for="upload-btn">Upload</label>
        <!-- Creation Button - Prompts Redirect -->
        <input type="radio" class="btn-check" name="options" id="creation-btn" autocomplete="off">
        <label class="btn btn-outline-info" for="creation-btn">Create</label>
    </div>
    {{/if}}
</div>


{{#each gifs as |gif|}}
<div class="d-flex justify-content-center">
    <div class="row mt-1 align-self-center">
        <a href="/api/gif/{{gif.id}}"> 
        {{!-- needs to be fixed --}}
            <img src="data:image/gif;base64,{{gif.imageData}}" alt="Alt text" />
        </a>
    </div>
</div>
{{/each}}


 {{#if loggedIn}}
 <script src="/js/uploadredirect.js"></script>
<script src="/js/logout.js"></script>
   {{else}}
<script src="/js/loginredirect.js"></script>
  {{/if}}
