{{#if loggedIn}}
  <div class="d-flex flex-row justify-content-right">
  <button class="btn btn-outline-secondary mt-3 ml-3" id="logout-link">logout</button>
  </div>
  <div class="d-flex flex-row-reverse">
        <p class="text-justify font-weight-normal ">Hi, {{username}}</p>
  </div>
{{/if}}

<div class="d-flex justify-content-center">
    <div class="row d-flex d-none d-lg-block my-5"><a href="/gifs"><img src="/images/LogoCropped.png" width="auto" height="200" id="logo"></a></div>
</div>

<div class="d-flex justify-content-center">
<form class="upload-gif">
    <div class="mb-3">
      <label for="formFile" class="form-label">Select GIF to upload:</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <div class="input-group mb-3">
        <input type="text" name="name" id="gifName" class="form-control" placeholder="Name your gif..." aria-label="Name">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit">Submit</button>
        </div>
    </div>
</form>
</div>

<script src="/js/upload.js"></script>