<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Make your gif</h1>

    <!-- Gif Name -->
    <div class="form-floating">
      <input type="text" class="form-control" id="sourceName" placeholder="gif973">
      <label for="sourceName">Name</label>
    </div>
    <!-- Gif Origin -->
    <div class="form-floating">
      <input type="text" class="form-control" id="sourceGif" value="https://i.kym-cdn.com/entries/icons/original/000/000/099/what-is-love-570898416.gif">
      <label for="sourceGif">Source Gif</label>
    </div>
    <!-- Gif Text -->
    <div class="form-floating">
      <input type="text" class="form-control" id="sourceText" value="Hello World!">
      <label for="sourceText">Source Text</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" id="gif-form" type="submit">Create</button>
  </form>
</main>

<script src="/js/addTextToGif.js"></script>